.playerTeam {
  display: block;
  position: relative;
}

.plImgContainer {
  position: absolute;
  display: inline-block;
  margin-top: 8px;
}
.plInfo {
  position: relative;
  padding-left: 78px;
  padding-top: 13px;
  display: block;
  margin-top: -10px;
}

.tableRow {
  border-bottom: 1px solid #1c243a;
}
