.container {
  padding-top: 95px;
  height: 100%;
}

.divider {
  border-bottom: 1px solid #40434c;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 0.5rem;
}

.rightBox {
  border-left: 1px solid #40434c;
}

.title {
  padding-top: 0px;
  color: #4c4c4c;
  margin-bottom: 0;
  font-size: 1.2rem;
}
.subTitle {
  color: #4d4d4d;
  margin-top: 12px;
  margin-bottom: 10px;
}

.value {
  color: #dca535;
  font-size: 1.2rem;
}

.copy {
  -moz-box-shadow: 0 0 3px #000000;
  -webkit-box-shadow: 0 0 3px #000000;
  box-shadow: 0 0 3px #000000;
}

.copy {
  width: 100px;
  margin-right: 20px;
  padding: 8px 29px;
}

.copy {
  background: -webkit-linear-gradient(#dca835, #97751b);
  color: white !important;
}

.copy {
  position: absolute;
  right: 0;
}
.url {
  width: 100%;
  padding-right: 131px;
  height: 40px;
  padding-left: 12px;
}

.urlInput {
  width: 100%;
  height: 100%;
  background-color: #85888e;
  color: white;
}
