.container {
  color: #4d4d4d;
  height: 100%;
  overflow: hidden;
  margin-right: -15px;
  margin-left: -15px;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  padding-top: 60px;
  color: #4c4c4c;
  margin-bottom: 0;
  font-size: 1.2rem;
}
.divider {
  border-bottom: 1px solid #40434c;
  margin-left: -31px;
  margin-right: -15px;
}

.history {
  color: #dca535;
  margin-bottom: 0;
  font-size: 0.8rem;
}
